mat-card {
  padding: 20px;
  align-items: flex-start;
}

form,
mat-form-field,
textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-upload {
  margin-bottom: 20px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
