.example-container {
  display: flex;
  height: 100vh;
}

/* mat-drawer { */
/* width: 250px; Initial width */
/* transition: all 0.3s ease-in-out;
} */
/* 
mat-drawer.collapsed {
  width: 100px; /* Collapsed width */
/* transform: translate3d(-80%, 0, 0); */

/* mat-drawer.collapsed mat-nav-list .mat-list-item-content {
  display: none;
} */

/* mat-drawer {
  width: 250px;
  transition: all 0.3s ease-in-out;
} */

mat-drawer.collapsed {
  visibility: visible !important;
  display: block !important;
  transform: translate3d(-10%, 0, 0);
  /* width: 100px; */
}

mat-drawer-content {
  flex: 1;
  margin-left: 55px;
}
