:host {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
}

.mat-accordion {
  flex: 1;
}

.mat-card {
  padding: 20px;
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
